.center {
    margin: 5px auto 90px;
    text-align: center;
}

body {
  text-align: center;
}

.title {
  padding: 10px;
}

canvas {
  background: skyblue;
  -webkit-transition: -webkit-transform 1s;
  -webkit-transition: -ms-transform 1s;
  -webkit-transition: -o-transform 1s;
  -webkit-transition: -moz-transform 1s;
  -webkit-transition: transform 1s;
}

canvas:hover {
  width: 102px;
  height: 98px;
}

#reloadButton {
  text-decoration: none;
  color: black;
  font: 20px tahoma;
}

#reloadButton:hover {
  font-size: 22px;
}

