body {
  text-align: center;
  background-color: #1c1c1c;
  font-family: 'Roboto', sans-serif;
}

.center {
    margin: 5px auto 90px;
    text-align: center;
}

.title {
  font-size: 90px;
  padding: 40px;
  color: white;
}

canvas {
  background: skyblue;
  -webkit-transition: -webkit-transform 1s;
  -webkit-transition: -ms-transform 1s;
  -webkit-transition: -o-transform 1s;
  -webkit-transition: -moz-transform 1s;
  -webkit-transition: transform 1s;
  box-shadow: 20px 20px 50px #1c1c1c;
}

canvas:hover {
  width: 102px;
  height: 98px;
}

#reloadButton {
  text-decoration: none;
  color: white;
  font: 30px tahoma;
}

#reloadButton:hover {
  font-size: 35px;
  text-shadow: 5px 10px 30px white;
}

